# AI & Machine Learning Practical & MCQ Exam
**Date:** 2025-04-14
**Instructor:** Muhammad Ali


**Student Name:** ------Atiqa _______

This exam is designed to evaluate your practical and theoretical understanding of Python, NumPy, Pandas, Exception Handling, OOP, File Handling, Sklearn models (Supervised Learning), and project tools like Streamlit and Tkinter.

---

## Section 1: Multiple Choice Questions (MCQs)
Answer the following questions by selecting the correct option.

Q1. What will be the output of print(type([]) is list)?

a) True

b) False

c) list  

d) TypeError



Answer: c

Q2. Which of the following is used to handle exceptions in Python?

a) catch

b) handle

c) try-except   

d) do-while



Answer: c

Q3. What will try: x = 1/0 except ZeroDivisionError: x = 0 set x to?

a) 1

b) 0

c) ZeroDivisionError   

d) None



Answer: c

Q4. What is the output of bool("False")?

a) True

b) False

c) SyntaxError

d) 0



Answer: a

Q5. Which of the following will raise an exception?

a) open("file.txt", "r")

b) print(1/0)

c) int("abc")

d) All of the above



Answer:  d

Q6. What is the term for hiding internal object details?

a) Polymorphism

b) Inheritance

c) Abstraction

d) Encapsulation



Answer: d

Q7. In Python, every class inherits from:

a) Object

b) Class

c) Main

d) Self



Answer:c

Q8. What does __init__ do?

a) Deletes an object

b) Creates an object

c) Initializes the object

d) None



Answer:  c

Q9. Which keyword is used for inheritance?

a) inherit

b) extends

c) base

d) (No keyword, just pass parent in parentheses)



Answer: d

Q10. What is method overriding?

a) Changing parameter values

b) Inheriting a method

c) Redefining a parent method in child class

d) Using a private method



Answer:   c

Q11. What mode is used to append to a file?

a) r

b) w

c) a

d) rw



Answer: c
Q12. What does readlines() return?

a) One line

b) All lines as list

c) Number of lines

d) Last line only



Answer: b

Q13. Which of the following automatically closes the file?

a) open()

b) file.close()

c) with open() as f:

d) None



Answer:  c

Q14. Which method is used to write a string to a file?

a) append()

b) add()

c) write()

d) save()



Answer: c
 
Q15. What happens if you open a file in "w" mode that already exists?

a) It is appended

b) It is renamed

c) It is deleted and a new file is created

d) It raises an error



Answer: c

Q16. NumPy arrays are:

a) Slower than lists

b) Homogeneous

c) Heterogeneous

d) None



Answer:  d

Q17. Which function creates an array of zeros in NumPy?

a) np.empty()

b) np.array(0)

c) np.zeros()

d) np.zero()



Answer:  c

Q18. How do you check for missing values in Pandas?

a) df.is_missing()

b) df.check_null()

c) df.isnull()

d) df.missing()



Answer:  c

Q19. Which method groups data in Pandas?

a) group()

b) df.groupby()

c) cluster()

d) df.partition()



Answer:  b

Q20. Which function is used to read CSV in Pandas?

a) pd.readfile()

b) pd.load()

c) pd.read_csv()

d) pd.open_csv()



Answer: c

Q21. Which of the following is a supervised learning algorithm?

a) KMeans

b) DBSCAN

c) Decision Tree

d) PCA



Answer: c

Q22. What is the purpose of train_test_split?

a) To normalize data

b) To separate features and labels

c) To split data into training and testing sets

d) To merge datasets



Answer:  c


Q23. Which metric is used for classification accuracy?

a) MSE

b) R2

c) Accuracy Score

d) RMSE



Answer:  c

Q24. Which model is used for binary classification?

a) KMeans

b) Logistic Regression

c) Random Forest Regressor

d) PCA



Answer:  b

Q25. What does fit() method do in sklearn models?

a) Applies the model

b) Trains the model

c) Tests the model

d) Evaluates accuracy



Answer: a

## Section 2: Python Basics & Exception Handling
Perform the following practical coding exercises.

In [ ]:
# Q1: Write a function that divides two numbers and handles division by zero using exception handling.
def divide_numbers(a, b):
    try:
        print(a/b)

    except ZeroDivisionError:
        print("Zero division is not possible")

divide_numbers(2,0)

0.4

In [6]:
# Q2: Write a Python function that takes a list of integers and returns the sum of even numbers.
def sum_even_numbers(lst):
    even_sum=0
    for i in lst:
        if i%2 == 0:
            even_sum +=i
    return even_sum


sum_even_numbers([1,2,3,4,5,6])

12

## Section 3: Object-Oriented Programming (OOP)
Answer the following using OOP concepts.

In [13]:
# Q3: Create a class `Car` with attributes like `brand`, `model`, and `year`. Create a method to display information.
class Car:
    def __init__(self, brand, model, year):
      self.brand= brand
      self.model= model
      self.year= year


    def  display_info(self):
       print(f" Model {self.model} \n Brand:{ self.brand} \n Year:{self.year}")



c1 = Car("Suzuki","SU_2001", 2000)
c1.display_info()

 Model SU_2001
 Brand:Suzuki
 Year:2000

In [11]:
# Q4: Inherit a class `ElectricCar` from `Car` and add an attribute `battery_capacity`. Override the display method.
class ElectricCar(Car):
    def __init__(self, brand, model, year,battery_capacity ):
        super().__init__(brand, model, year)
        self.battery_capacity = battery_capacity


    def display_info(self):
       print(f" Model {self.model} \n Brand:{ self.brand} \n Year:{self.year} \nBttery_Capacity{self.battery_capacity}")

In [12]:
e1= ElectricCar("SUZUKI", "SU_2001", 2025, '50V')
e1.display_info()

 Model SU_2001
 Brand:SUZUKI
 Year:2025
Bttery_Capacity50V

## Section 4: File Handling
Answer the following using file handling concepts.

In [ ]:
# Q5: Write a program that writes a list of names to a file and then reads them back.
names = ['Ali', 'Sara', 'John']

with open('file.txt', 'w') as f:
    for name in names:
        f.write(name)

In [2]:
with open('file.txt', 'r') as f:
    data = f.read()
    print(data)

AliSaraJohn

## Section 5: NumPy and Pandas
Solve the following using NumPy and Pandas.

In [13]:
# Q6: Create a NumPy array of shape (4,4) with random integers and calculate the mean of each column.
import numpy as np
# Your code here


arr = np.random.randint(10, size=(4,4))
arr
# print(arr.mean(), axis =1)
print(arr.mean(axis =1))

[4.75 5.25 2.   5.75]

In [24]:
# Q7: Load a sample DataFrame using pandas and perform basic filtering and aggregation.
import pandas as pd
# Your code here
df = pd.read_csv('Housing.csv')
df.drop(columns=['rownames','driveway', 'recroom', 'fullbase', 'gashw','airco', 'prefarea'], inplace=True)

In [25]:
print(df)

      price  lotsize  bedrooms  bathrms  stories  garagepl
0     42000     5850         3        1        2         1
1     38500     4000         2        1        1         0
2     49500     3060         3        1        1         0
3     60500     6650         3        1        2         0
4     61000     6360         2        1        1         0
..      ...      ...       ...      ...      ...       ...
541   91500     4800         3        2        4         0
542   94000     6000         3        2        4         0
543  103000     6000         3        2        4         1
544  105000     6000         3        2        2         1
545  105000     6000         3        1        2         1

[546 rows x 6 columns]

In [26]:
# Q7: Load a sample DataFrame using pandas and perform basic filtering and aggregation.
filter = (df['lotsize'] > 6000 ) & (df['bedrooms'] >= 5)
print(df[filter])

      price  lotsize  bedrooms  bathrms  stories  garagepl
43    92000     8580         5        3        2         2
119  116000     6840         5        1        2         1
367  120000     7950         5        2        2         2
368  145000    16200         5        3        2         0

In [33]:
df['lotsize'].value_counts()

lotsize
6000    24
3000    14
4500    13
4000    11
5500     9
        ..
2640     1
3792     1
4200     1
2817     1
6525     1
Name: count, Length: 284, dtype: int64

In [44]:
# df.groupby('bedrooms')['price'].aggregate( sum())

In [41]:
print(df.groupby('bedrooms')['price'].sum())
print(df.groupby('bedrooms')['price'].mean())
print(df.groupby('bedrooms')['price'].min())
print(df.groupby('bedrooms')['price'].max())

bedrooms
1       77500
2     7056500
3    21315992
4     7776100
5      831400
6      136900
Name: price, dtype: int64
bedrooms
1    38750.000000
2    51886.029412
3    70817.249169
4    81853.684211
5    83140.000000
6    68450.000000
Name: price, dtype: float64
bedrooms
1    32500
2    25000
3    25000
4    30000
5    28000
6    50000
Name: price, dtype: int64
bedrooms
1     45000
2    101000
3    175000
4    190000
5    145000
6     86900
Name: price, dtype: int64

## Section 6: Sklearn - Supervised Learning
Answer the following by building small models using sklearn.

In [5]:
# Q8: Load the Iris dataset and train a DecisionTreeClassifier. Print the accuracy.
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Your code here

In [89]:
df=pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [90]:
df.isna().sum()
# df.dropna(inplace=True)
# df.isna().sum

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [91]:
df.nunique()

Id               150
SepalLengthCm     35
SepalWidthCm      23
PetalLengthCm     43
PetalWidthCm      22
Species            3
dtype: int64

In [92]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [104]:
x=np.array(df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']])
# x=np.array(df['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'], size= (4))
y=np.array(df['Species'])

In [105]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1, random_state=22)

In [106]:
model = DecisionTreeClassifier()

In [107]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [109]:
model.score(x_test,y_test)

0.9333333333333333

In [118]:
orgi=y_test[0]
pred=model.predict([x_test[0]])
pred[0]

print(orgi, pred[0])

Iris-setosa Iris-setosa

In [99]:
# Q9: Train a Logistic Regression model on breast cancer dataset and evaluate it using confusion matrix.
from sklearn.datasets import load_breast_cancer
from sklearn.linear_model import LogisticRegression

In [133]:
df = pd.read_csv('cancer.csv')
df

,id,name,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,ID842302,Glynnis Munson,NaN,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,ID842517,Lana Behrer,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,ID84300903,Devondra Vanvalkenburgh,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,ID84348301,Glory Maravalle,NaN,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,ID84358402,Mellie Mccurdy,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,ID926424,Liz Babb,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623,18,1
565,ID926682,Silvana Shen,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533,24,1
566,ID926954,Sunny Hiorns,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648,21,1
567,ID927241,Colline Beade,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016,41,1
568,ID92751,Rita Ryan blanco,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884,37,0

In [134]:
df.drop(columns=['id','name'], inplace=True)
df

,radius,texture,perimeter,area,smoothness,compactness,concavity,symmetry,fractal_dimension,age,diagnosis
0,NaN,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.2419,0.07871,35,1
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.1812,0.05667,27,1
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.2069,0.05999,31,1
3,NaN,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.2597,0.09744,49,1
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.1809,0.05883,20,1
...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.1726,0.05623,18,1
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.1752,0.05533,24,1
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.1590,0.05648,21,1
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.2397,0.07016,41,1
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.1587,0.05884,37,0

In [135]:
df.isna().sum()
df.dropna(inplace=True)
df.isna().sum()

radius               0
texture              0
perimeter            0
area                 0
smoothness           0
compactness          0
concavity            0
symmetry             0
fractal_dimension    0
age                  0
diagnosis            0
dtype: int64

In [136]:
df.nunique()

radius               410
texture              431
perimeter            460
area                 474
smoothness           426
compactness          473
concavity            475
symmetry             382
fractal_dimension    429
age                   47
diagnosis              2
dtype: int64

In [138]:
x=np.array(df[['radius','texture','perimeter','area','smoothness','compactness','concavity','symmetry','fractal_dimension','age']])
# x=np.array(df['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm'], size= (4))
y=np.array(df['diagnosis'])

In [139]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1, random_state=22)

In [140]:
model = LogisticRegression()

In [141]:
model.fit(x_train,y_train)

c:\Users\PMLS\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [142]:
model.score(x_test,y_test)

0.94

In [10]:
# model.predict_log_proba(x)

## Section 7: Streamlit & Tkinter
Answer the following project-related questions.

In [ ]:
# Q10: Build a basic Streamlit form with input for name and age and display a welcome message.
# Your code here

import streamlit as st

name= st.text_input("Enter Your name")
Age = st.number_input("Enter Your Age")

if st.button('Show'):
    st.write(f"Welcome {name}, ypur age is {Age}")

In [ ]:
# Q11: Create a basic Tkinter window with a label and button. Clicking the button should change the label text.
# Your code here

import tkinter as tk
# import tkinter *

window = tk.Tk()
window.title("tkinter")
window.geometry('400,300')


# tk.Label(window, text = "Hello")



if tk.Button(window, "click"):
    pass

window.mainloop( )

''

### Q26: Write code to demonstrate concept of Classes

In [48]:
class Employee:
    def __init__(self, name, Age):
        self.name = name
        self.Age = Age
    def show(self):
        print(f" Name: {self.name} Age:{self.Age}")

e1= Employee("Ahmed",23)
e1.show()

 Name: Ahmed Age:23

### Q27: Write code to demonstrate concept of Inheritance

In [50]:
class Manager(Employee):
    def __init__(self, name, Age, salary):
        super().__init__(name, Age)
        self.salary = salary

    def display(self):
         print(f" Name: {self.name} Age:{self.Age}, salary:{self.salary}")


m1= Manager("Sara",23,30000)
m1. display()

 Name: Sara Age:23, salary:30000

### Q28: Write code to demonstrate concept of Exception Handeling

In [55]:
try: 
    num = int(input('Enter number: '))
    print(f"You entered {num}")
except ValueError:
    print("Please enter integer Value")

Please enter integer Value

### Q29: Write code to demonstrate concept of Data Loading in Pandas

In [57]:
# Your code here
data = pd.read_csv("Housing.csv")
# data

### Q30: Write code to demonstrate concept of Numpy arrays in Multi dimensions

In [58]:
# Your code here

arr = np.array([2,3,46,7,43],ndmin=5)
print(arr)
print(arr.ndim)

[[[[[ 2  3 46  7 43]]]]]
5

### Q31: Write code to demonstrate concept of Lamda Functions

In [59]:
# Your code here
x= lambda x: x*x*x
x(3)

27

### Q32: Write code using Streamlit for a Percentage calculation web app

In [ ]:
import streamlit as st


obtain_marks= st.number_input("Enter your obtain marks:")
total_marks= st.number_input("Enter Your total marks")

if st.button('calculate'):
    percent= (obtain_marks / total_marks)*100
    st.write(f"Your percentage is {percent:.2f}")

### Q33: Write code to Using Classes and Objects with Try and Except blocks

In [9]:
# Your code here
class Calculator:
    # def __init__(self):
    #     self.num1=num1
    def cal(self):
        try:
            self.num1 = int(input("Enter first number: "))
            self.num2= int(input("Enter second number: "))

            print(f" Sum is {self.num1} and {self.num2} = {self.num1+self.num2}")
            print(f" Product is {self.num1} and {self.num2} = {self.num1*self.num2}")

        except ValueError:
            print("Invalid valuee Entered")


c1= Calculator()
c1.cal()

 Sum is 2 and 5 = 7
 Product is 2 and 5 = 10

### THE END...